<style type="text/css">
  .ghContributors {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
  }

  .ghContributors > div {
    width: 50%;
    display: inline-flex;
    margin-bottom: 5px;
  }

  .ghContributors > div label {
    padding-left: 4px;
  }

  .ghContributors > div span {
    font-size: x-small;
    padding-left: 4px;
  }
</style>

{{ $url := .Get 0 }}

{{ with try (resources.GetRemote $url) }}
  {{ with .Err }}
    <div class="ghContributors">
      <p>Unable to load GitHub contributors.</p>
    </div>
  {{ else }}
    {{ $data := .Value | transform.Unmarshal }}

    <div class="ghContributors">
      {{ range $data }}
      <div>
        <img
          src="{{ .avatar_url }}"
          class="inline"
          width="32"
          height="32"
          style="
            height: 32px;
            margin-bottom: 0.25em;
            vertical-align: middle;
          "
        />
        <label>
          <a href="{{ .html_url }}" target="_blank" rel="noopener">
            @{{ .login }}
          </a>
        </label>
        <span class="contributions">
          {{ .contributions }} commits
        </span>
      </div>
      {{ end }}
    </div>

  {{ end }}
{{ end }}